<config>
<!--
/**
 * Custom store code
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @copyright Copyright (c) 2016 EcomDev BV (http://www.ecomdev.org)
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author    Ivan Chepurnyi <ivan@ecomdev.org>
 */
 -->
    <global>
        <models>
            <core>
                <rewrite>
                    <store>EcomDev_CustomStoreCode_Model_Rewrite_Core_Store</store>
                    <url_rewrite_request>EcomDev_CustomStoreCode_Model_Rewrite_Core_Url_Rewrite_Request</url_rewrite_request>
                </rewrite>
            </core>
        </models>
        <helpers>
            <ecomdev_customstorecode>
                <class>EcomDev_CustomStoreCode_Helper</class>
            </ecomdev_customstorecode>
        </helpers>
    </global>
</config>
